* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

h2{
	color: #e1af34;
	margin-top: 5px;
	margin-bottom: 5px;
}

body {
	width: 100wv;
	margin-top: 2%;
	margin-right: 15%;
	margin-left: 15%;
	background-image: url("../images/Page-BgTexture.jpg");
	border: 2px solid #dbae2f;
	border-radius: 7px;
}



.header {
    background-image: url("../images/Header.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 15vh;
	padding-top: 10px;
}

.site_name {
    color: #6d4200;
	min-height: 70px;
	width: 50%;
	min-width: 220px;
	max-width: 555px;
	margin-top: 10px;
    margin-left: 30px;
}

.navigate_items {
	list-style-type: none;
    padding: 5px;
    margin-top: 5px;
    margin-left: 10px;
	height: 25px;
    
}

.navigate_list {
  width: 100%;
  display: flex;
  flex-direction: column;
 padding-bottom: 5px;
 background: linear-gradient(to top,#666666, #222222);

}


.navigate_items_link {
	color: White;
	font-size: 12px;
	text-decoration: none;
}



.button {
	color: black;
	background-color: #e1af34;
	border-radius: 7px;
	border: 1px solid black;
	padding: 5px 15px;
	margin-left: 10px;
	cursor: pointer;
}

input[type="text"]{
	max-width: 100%;
}

.search{
	padding: 3px 5px;
}

.sidebar {
    display: flex;
	flex-direction: column;
	width: 100%;
}

.sidebar_block {
	border: 2px solid #8b793b;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 5px;
	background-color: #474747;
}

.sidebar_label {
	color: #a1a3a0;
	padding: 3px 7px;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	margin-left: 10px;
}

.sidebar_label_image {
	background-image: url("../images/BlockHeaderIcon.png");
	width: 20px;
	height: 25px;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	top: -6px;
    margin-right: 5px;
}

.sidebar ul {
	display: flex;
	flex-direction: column;
}
.sidebar li {
	list-style: none;
	background: url("../images/BlockContentBullets.png") no-repeat ;
	padding-left: 5px;
	padding-bottom: 5px;
	display: flex;
}

.content_hed_end li:last-child{
	border-right: none;
}

.sidebar_link_image {
	width: 10px;
	height: 20px;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	top: -3px;
	background-image: url("../images/BlockContentBullets.png");
}

.sidebar_link_link {
	color: #cebfa0;
	margin-left: 6px;
	font-weight: 600;
}

.content_hed_end{
	margin-bottom: 10px;
	color: #e0cdc7;
}

.content_hed_end ul {
	display: flex;
	flex-direction: row;
	padding-top: 10px;
	height: 30px;
	color: #e0cdc7;
}
.content_hed_end li {
	list-style: none;
	padding-right: 5px;
	border-right: 1px solid #f0d4a2;
	margin-right: 10px;
	color: #e0cdc7;
}

.content_block_link {
	color: #f0d4a2;
}

.content_text{
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	color: #e0cdc7;
}

.content_text h4{
	padding-bottom: 10px;
	padding-top: 10px;
	color: #e0cdc7;
}

.content_text img{
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content_text p{
	padding-bottom: 10px;
	line-height: 1.5;
}

.content_link {
	margin-left: 5px;
	color: #f0d4a2;
	font-weight: 600;
}

.content {
	display: flex;
	flex-direction: column;
    width: 100%;
	margin-right: 15px;
	margin-left: 15px;
}

.page {
	display: flex;
	flex-direction: column;
	width: 100%;
	background: rgba(37, 37, 37, 0.5);
	padding: 8px;
	border-top: 1px solid black;
}

footer{
	background-color: #dcaf30;
    padding-top: 1%;
	padding-bottom: 1%;
    text-align: center;
}
.foot_txt{
    color: black;
    font-size: 10pt;
}
.foot_link{
    color: black;
    font-size: 10pt;
    text-decoration: none;
}


@media(min-width : 800px) {
	
	.navigate_list {
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
	list-style-type: none;
	margin-top: 3px;
	background: linear-gradient(to top,#666666, #222222);
}

.navigate_items {
    padding: 3px;
    margin-left: 3px;
	height: 23px; 
}


.page {
	display: flex;
	flex-direction: row;
	width: 100%;
	background: rgba(37, 37, 37, 0.5);
	margin-right: 20px;
	padding: 8px;
	border-top: 1px solid black;
}


.sidebar {
    display: flex;
	flex-direction: column;
	width: 20%;
}

.content {
	display: flex;
	flex-direction: column;
    width: 80%;
	margin-right: 5px;
	margin-left: 5px;
}

.content_hed_end{
	margin-bottom: 0px;
}
}

@media(min-width : 1280px) {
	.content{
	margin-right: 20px;
	margin-left: 20px;
		}
}